## Processing y

In [13]:
import os
import pandas as pd

In [15]:
os.chdir('/mnt/c/Users/janos/OneDrive/Desktop/Master_thesis/kosti/mat2csv/emotic_pre/')
train = pd.read_csv('train.csv')
train_mscoco = train[train['Folder'] == 'mscoco/images']
train_frames = train[train['Folder'] == 'framesdb/images']

In [16]:
test = pd.read_csv('test.csv')
val = pd.read_csv('val.csv')

In [17]:
test.shape, val.shape

((7203, 9), (3315, 9))

In [21]:
import re

In [22]:
y = []
y_fr = []
for rating_ms in train_mscoco['Continuous_Labels']:
    y.append(rating_ms)

for rating_frames in train_frames['Continuous_Labels']: 
    y.append(rating_frames)

In [23]:
len(y)

21624

In [24]:
y_ = []
for idx, label in enumerate(y):
    s = (re.sub(r"[\[\]]",'',y[idx]))
    for i, x in enumerate(s):
        y_.append(x)
        if x == ',':
            y_.remove(x)
        if x == ' ':
            y_.remove(x)
        try:
            if x == '1' and s[i+1] == '0':
                y_.remove(x)
                y_.append('10')
        except IndexError:
            continue

In [25]:
for idx, el in enumerate(y_):
    if el == '10':
        if y_[idx+1] == '0':
            y_.remove(y_[idx+1])

In [26]:
len(y_)

64872

In [27]:
cont_labels = []
for val in y_:
    cont_labels.append(float(val))

In [28]:
img = 0
Arousal = []
Valence = []
Dominance = []
for val in cont_labels:
    if img == 0:
        Arousal.append(val)
        img = img+1
        continue
    if img == 1:
        Valence.append(val)
        img = img+1
        continue 
    if img == 2:
        Dominance.append(val)
        img = 0
        continue

In [31]:
import numpy as np

Arousal = np.array(Arousal)

Valence = np.array(Valence)

Dominance = np.array(Dominance)

In [32]:
Arousal.shape, Valence.shape, Dominance.shape

((21624,), (21624,), (21624,))

In [32]:
y = Arousal

In [33]:
Valence_df = pd.DataFrame(Valence)
Dominance_df = pd.DataFrame(Dominance)

In [37]:
path = '/mnt/c/Users/janos/OneDrive/Desktop/Master_thesis'

In [40]:
Valence_df.to_csv(os.path.join(path,'Valence_frames_emodb.csv'))

In [41]:
Dominance_df.to_csv(os.path.join(path,'Dominance_frames_emodb.csv'))

In [42]:
y_df = pd.DataFrame(y)

In [48]:
Arousal_df = pd.DataFrame(Arousal)

In [60]:
all_ratings = y_df

In [62]:
all_ratings.to_csv(os.path.join(path,'All_ratings_train.csv'))

In [43]:
y_df.to_csv('Arousal_frames_emodb.csv')

In [44]:
y_df

         0
0      5.0
1      6.0
2      7.0
3      8.0
4      7.0
...    ...
21619  6.0
21620  5.0
21621  5.0
21622  6.0
21623  5.0

[21624 rows x 1 columns]