## Processing y

In [13]:
import os
import pandas as pd

In [15]:
os.chdir('/mnt/c/Users/janos/OneDrive/Desktop/Master_thesis/kosti/mat2csv/emotic_pre/')
train = pd.read_csv('train.csv')
train_mscoco = train[train['Folder'] == 'mscoco/images']
train_frames = train[train['Folder'] == 'framesdb/images']

In [66]:
i=0
for chunk in pd.read_csv('/mnt/c/Users/janos/OneDrive/Desktop/Master_Thesis/X_frames.csv',chunksize=10):
    frames=chunk
    i=i+1
    if i == 1:
        break

In [67]:
frames

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,50166,50167,50168,50169,50170,50171,50172,50173,50174,50175
0,0,0.048562,0.058173,0.033122,0.034533,0.024098,0.018262,0.057139,0.094979,0.120926,...,0.002125,0.001738,0.003066,0.004532,0.002982,0.005451,0.002676,0.001898,0.003763,0.009206
1,1,0.035868,0.043829,0.011216,0.010667,0.008152,0.013014,0.013034,0.016511,0.034291,...,0.017651,0.058366,0.052255,0.026959,0.037739,0.039301,0.013332,0.033214,0.032504,0.026856
2,2,0.065825,0.024420,0.019289,0.027405,0.015210,0.018834,0.015661,0.009592,0.031773,...,0.021130,0.037802,0.008834,0.054058,0.032534,0.064334,0.050443,0.024776,0.062385,0.019166
3,3,0.227125,0.224208,0.134090,0.130327,0.183445,0.066438,0.171690,0.272012,0.212601,...,0.002217,0.010399,0.007462,0.003873,0.008350,0.005768,0.008982,0.003422,0.004443,0.013976
4,4,0.062537,0.055781,0.040966,0.069795,0.043848,0.025884,0.025964,0.011739,0.019288,...,0.059307,0.030243,0.023842,0.012004,0.040069,0.029414,0.019353,0.052674,0.037094,0.022681
5,5,0.051976,0.096948,0.262368,0.106798,0.149010,0.238879,0.199951,0.172386,0.142481,...,0.014319,0.038653,0.017271,0.002058,0.001514,0.001130,0.001967,0.006629,0.006687,0.019174
6,6,0.051976,0.096948,0.262368,0.106798,0.149010,0.238879,0.199951,0.172386,0.142481,...,0.014319,0.038653,0.017271,0.002058,0.001514,0.001130,0.001967,0.006629,0.006687,0.019174
7,7,0.051976,0.096948,0.262368,0.106798,0.149010,0.238879,0.199951,0.172386,0.142481,...,0.014319,0.038653,0.017271,0.002058,0.001514,0.001130,0.001967,0.006629,0.006687,0.019174
8,8,0.100992,0.049259,0.047588,0.047304,0.062613,0.103222,0.096413,0.027992,0.105338,...,0.010501,0.009506,0.000791,0.007567,0.031593,0.021318,0.011092,0.011394,0.009804,0.007999
9,9,0.100992,0.049259,0.047588,0.047304,0.062613,0.103222,0.096413,0.027992,0.105338,...,0.010501,0.009506,0.000791,0.007567,0.031593,0.021318,0.011092,0.011394,0.009804,0.007999

In [70]:
y_df[14276:]

               0
14276  [7, 4, 2]
14277  [5, 4, 9]
14278  [6, 7, 6]
14279  [2, 7, 7]
14280  [7, 4, 7]
...          ...
21619  [6, 6, 6]
21620  [5, 7, 4]
21621  [5, 4, 6]
21622  [6, 7, 6]
21623  [5, 5, 6]

[7348 rows x 1 columns]

In [71]:
train_frames

,Index,Folder,Filename,Image Size,BBox,Categorical_Labels,Continuous_Labels,Gender,Age
16,16,framesdb/images,frame_k245twaqc30i5imc.jpg,"[500, 334]","[34, 26, 499, 304]",['Engagement'],"[7, 4, 2]",Female,Adult
17,17,framesdb/images,frame_dkwhvgj0m40g01gs.jpg,"[634, 641]","[148, 8, 471, 616]",['Happiness'],"[5, 4, 9]",Male,Adult
20,20,framesdb/images,frame_fjgek3oeqc8r0e3o.jpg,"[749, 499]","[497, 89, 625, 436]",['Engagement'],"[6, 7, 6]",Male,Adult
26,26,framesdb/images,frame_kuxvwgw2wheq7szc.jpg,"[570, 378]","[209, 117, 318, 335]","['Anticipation', 'Disquietment', 'Engagement']","[2, 7, 7]",Male,Kid
27,27,framesdb/images,frame_95x221h7yj814qxc.jpg,"[2592, 1944]","[2035, 654, 2176, 921]",['Engagement'],"[7, 4, 7]",Male,Adult
...,...,...,...,...,...,...,...,...,...
23253,23253,framesdb/images,frame_bvarawszysrqkcuf.jpg,"[800, 535]","[382, 40, 506, 424]","['Anticipation', 'Engagement', 'Happiness']","[6, 6, 6]",Female,Teenager
23254,23254,framesdb/images,frame_bvarawszysrqkcuf.jpg,"[800, 535]","[72, 51, 342, 473]","['Confidence', 'Engagement', 'Excitement']","[5, 7, 4]",Female,Adult
23255,23255,framesdb/images,frame_cihmig8jwxfwzifv.jpg,"[1600, 1067]","[1315, 224, 1556, 534]",['Engagement'],"[5, 4, 6]",Male,Adult
23256,23256,framesdb/images,frame_cihmig8jwxfwzifv.jpg,"[1600, 1067]","[1204, 499, 1505, 1025]","['Anticipation', 'Engagement']","[6, 7, 6]",Male,Kid
23263,23263,framesdb/images,frame_k7fb824vh221kl3j.jpg,"[500, 375]","[245, 227, 293, 340]",['Engagement'],"[5, 5, 6]",Male,Adult

In [16]:
test = pd.read_csv('test.csv')
val = pd.read_csv('val.csv')

In [17]:
test.shape, val.shape

((7203, 9), (3315, 9))

In [21]:
import re

In [22]:
y = []
y_fr = []
for rating_ms in train_mscoco['Continuous_Labels']:
    y.append(rating_ms)

for rating_frames in train_frames['Continuous_Labels']: 
    y.append(rating_frames)

In [23]:
len(y)

21624

In [24]:
y_ = []
for idx, label in enumerate(y):
    s = (re.sub(r"[\[\]]",'',y[idx]))
    for i, x in enumerate(s):
        y_.append(x)
        if x == ',':
            y_.remove(x)
        if x == ' ':
            y_.remove(x)
        try:
            if x == '1' and s[i+1] == '0':
                y_.remove(x)
                y_.append('10')
        except IndexError:
            continue

In [25]:
for idx, el in enumerate(y_):
    if el == '10':
        if y_[idx+1] == '0':
            y_.remove(y_[idx+1])

In [26]:
len(y_)

64872

In [27]:
cont_labels = []
for val in y_:
    cont_labels.append(float(val))

In [28]:
img = 0
Arousal = []
Valence = []
Dominance = []
for val in cont_labels:
    if img == 0:
        Arousal.append(val)
        img = img+1
        continue
    if img == 1:
        Valence.append(val)
        img = img+1
        continue 
    if img == 2:
        Dominance.append(val)
        img = 0
        continue

In [31]:
import numpy as np

Arousal = np.array(Arousal)

Valence = np.array(Valence)

Dominance = np.array(Dominance)

In [32]:
Arousal.shape, Valence.shape, Dominance.shape

((21624,), (21624,), (21624,))

In [32]:
y = Arousal

In [33]:
Valence_df = pd.DataFrame(Valence)
Dominance_df = pd.DataFrame(Dominance)

In [37]:
path = '/mnt/c/Users/janos/OneDrive/Desktop/Master_thesis'

In [40]:
Valence_df.to_csv(os.path.join(path,'Valence_frames_emodb.csv'))

In [41]:
Dominance_df.to_csv(os.path.join(path,'Dominance_frames_emodb.csv'))

In [42]:
y_df = pd.DataFrame(y)

In [48]:
Arousal_df = pd.DataFrame(Arousal)

In [60]:
all_ratings = y_df

In [62]:
all_ratings.to_csv(os.path.join(path,'All_ratings_train.csv'))

In [72]:
all_ratings

                0
0       [5, 3, 9]
1       [6, 4, 7]
2       [7, 8, 8]
3       [8, 9, 8]
4      [7, 9, 10]
...           ...
21619   [6, 6, 6]
21620   [5, 7, 4]
21621   [5, 4, 6]
21622   [6, 7, 6]
21623   [5, 5, 6]

[21624 rows x 1 columns]

In [43]:
y_df.to_csv('Arousal_frames_emodb.csv')

In [44]:
y_df

         0
0      5.0
1      6.0
2      7.0
3      8.0
4      7.0
...    ...
21619  6.0
21620  5.0
21621  5.0
21622  6.0
21623  5.0

[21624 rows x 1 columns]